*{
    padding: 0;
    /* margin: 0; */
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #e7e0f8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
.container{
    background: white;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
}
.textarea{
    resize:none;
    width: 100%;
    height: 100px;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;
}
.counter{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 5px;
}
.total-char{
    display: flex;
    justify-content: center;
    margin-top:5px;
    color: blue;
}
.remaining-char{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}


